/* CSS style for RaukR 2018 course      */
/* Uses Bootswatch united theme         */
/* 2018 Roy Francis                     */

/* FONTS -------------------------------------------------------------------- */
/*@import url("https://fonts.googleapis.com/css?family=Roboto");*/

/* body font */
body {
  font-size: 16px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1A1A1A;
}

/* heading font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #1A1A1A;
}

/* heading sizes */
h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

/* report title style */
.rtitle {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
}

/* report subtitle style */
.rstitle {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* link colour: raukr */
a {
  color: #125687;
}

a:hover {
  color: #125687;
  opacity: 0.6;
  text-decoration: underline;
}

/* code style */
code {
  font-family: Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
}

pre {
    background-color: #F2F2F2;
}

/* abstract paragraph style */
.abstract {
    line-height: 160%;
}

/* new font size classes */
.vlarge { font-size: 200% }
.large { font-size: 130% }
.vsmall{ font-size: 50% }

/* TABLES ------------------------------------------------------------------- */

/* table even shading colour */
.even {
    background-color: #F2F2F2;
}

/* IMAGES ------------------------------------------------------------------- */

/* image styling */
img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.fancyimage {
  box-shadow: 1px 1px 5px grey;
  border-radius: 2px;
}

/* LAYOUT ------------------------------------------------------------------- */

/* floating bar highlight */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #125687;
  border-color: #375D81;
}

/* button */
.btn-primary {
  background-color: #125687;
  border-color: #375D81;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

/* button active states */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    background-color: #5988ab;
    border-color: #375D81;
}

/* hover effect footer icons */
.footericon:hover {
  opacity: 10;
}

/* right align text */
.text-right {
  text-align: right;
}

/* left align text */
.text-left {
  text-align: left;
}

/* center align text */
.text-center {
  text-align: center;
}

/* float 50% width */
.float-right {
  width: 50%;
  float: right;
}
.float-left {
  width: 50%;
  float: left;
}

/* float 30% 70% width */
.float-right-small {
  width: 30%;
  float: right;
}
.float-right-large {
  width: 70%;
  float: right;
}
.float-left-small {
  width: 30%;
  float: left;
}
.float-left-large {
  width: 70%;
  float: left;
}