/* CSS style for RaukR course      */
/* Uses Bootswatch united theme         */
/* 2018 Roy Francis                     */

/* FONTS -------------------------------------------------------------------- */
/*@import url("https://fonts.googleapis.com/css?family=Roboto");*/

:root {
  --primary-color: #125687;
  --border-color: #375D81;
  --text-color: #1A1A1A;
  --code-bg-color: #F2F2F2;
}

/* body font */
body {
  font-size: 16px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text-color);
}

/* heading font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--text-color);
}

/* heading sizes */
h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

blockquote  {
    background: var(--code-bg-color);
    border-left: 5px solid #ddd;
}

/* report title style */
.title {
  margin-bottom: 0.5em;
  margin-right: 70px;
}

/* report subtitle style */
.subtitle {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

/* report subtitle style */
.author {
  margin-bottom: 0.2em;
  font-weight: 600;
}

/* report subtitle style */
.date {
  margin-top: 0.3em;
}

/* link colour: raukr */
a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  opacity: 0.6;
  text-decoration: underline;
}

/* code style */
code {
  font-family: Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
}

pre {
    background-color: var(--code-bg-color);
}

/* abstract paragraph style */
.abstract {
    line-height: 160%;
}

/* new font size classes */
.vlarge { font-size: 200% }
.large { font-size: 130% }
.vsmall{ font-size: 50% }

/* TABLES ------------------------------------------------------------------- */

/* table even shading colour */
.even {
    background-color: var(--code-bg-color);
}

/* IMAGES ------------------------------------------------------------------- */

/* image styling */
img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.fancyimage {
  box-shadow: 1px 1px 5px grey;
  border-radius: 2px;
}

.trlogo {
  position:absolute;
  height:70px;
  top:2.5em;
  right:0;
  padding-right:40px;
  margin-top:7px;
}

/* LAYOUT ------------------------------------------------------------------- */

/* floating bar highlight */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: var(--primary-color);
  border-color: var(--border-color);
}

/* button */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--border-color);
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

/* button active states */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open>.dropdown-toggle.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--border-color);
    opacity: 0.8;
}

/* panel */
.panel-default>.panel-heading, .panel-primary>.panel-heading {
  background-color: var(--primary-color);
  color: white;
}

/* hover effect footer icons */
.footericon:hover {
  opacity: 10;
}

/* right align text */
.text-right {
  text-align: right;
}

/* left align text */
.text-left {
  text-align: left;
}

/* center align text */
.text-center {
  text-align: center;
}

/* float 50%-50% width */
.pull-right-50 {
  width: 49%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-50 {
  width: 49%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 40% 60% width */
.pull-right-40 {
  width: 39%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-60 {
  width: 59%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-40 {
  width: 39%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-60 {
  width: 59%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
