/* CSS style for RaukR course */
/* 2021 Roy Francis */

/* define font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i|Ubuntu+Mono&display=swap&subset=latin-ext');

:root {
  --color-primary: #EB6291;
  --color-primary-light: #fbdfe9;
  --color-primary-lighter: #fdeff4;
  --color-primary-dark: #d35882;
  --color-border: #e8e8e8;
  --color-text: #1A1A1A;
  --color-code-bg: #f9f9f9;
  --color-code-inline: #d72b3f;
  --font-base: 'Source Sans Pro';
  --font-highlight: 'Source Sans Pro';
  --font-code: 'Ubuntu Mono';
}

/* body font */
/* body font family */
body,p,h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-base, 'Roboto', 'DIN', 'Helvetica', sans-serif);
  /*color: var(--color-text);*/
  font-weight: 400;
  font-size: 17px;
  line-height: 1.55;
}

/* title font family, weight and size */
h1,h2,h3 {
  font-family: var(--font-highlight, 'Roboto', 'DIN', 'Helvetica', sans-serif);
  /*color: var(--color-text);*/
  font-weight: 600;
}

h1 {
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

h4 {
  font-size: 1.266em;
}

h5 {
  font-size: 1.266em;
}

h6 {
  font-size: 1.125em;
}

.section .level1 {
  margin-bottom: 2.5em;
}

.section .level2 {
  margin-bottom: 1.8em;
}

.section .level3 {
  margin-bottom: 1.3em;
}

.section .level4 {
  margin-bottom: 1em;
}

/* code style */
pre {
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
  background-color: var(--color-code-bg);
  border: 1px solid var(--color-border);
  font-size: 16px;
}

code {
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
  font-size: 16px;
  word-break: break-all;
}

/* report title style */
.title {
  /* margin-top: 11px; */
  margin-bottom: 0;
  font-size: 1.9em;
}

/* report subtitle style */
.subtitle {
  margin-top: -10px;
  margin-bottom: 0;
  font-size: 1.7em;
}

/* report author style */
.author {
  font-size: 1em;
  margin-top: -6px;
  margin-bottom: 5px;
  font-weight: 600;
}

/* report date style */
.date {
  margin-top: 0;
  margin-bottom: 10px;
}

/* new font size classes */
.largest { font-size: 2.488em; }
.larger { font-size: 2.074em; }
.large { font-size: 1.44em;}
.medium { font-size: 1.2em;}
.small { font-size: 0.833em; }
.smaller { font-size: 0.694em; }
.smallest{ font-size: 0.579em; }

/* spaced para style */
.spaced {
    line-height: 150%;
}

blockquote {
  border-left: 5px solid var(--color-primary);
  background: var(--color-code-bg);
  padding: 10px;
  padding-left: 12px;
  margin-left: 16px;
  margin-right: 0;
  border-radius: 0px 4px 4px 0px;
}

/* kbd */
.kbd {
  padding: 2px 5px;
  font-family: var(--font-code,"Menlo","Monaco", "Consolas","Liberation Mono", "Courier New", monospace);
}

/* danger alert text style */

.danger {
  color: #721c24;
  display: block;
  background: #f8d7da;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

/* div styles --------------------------------------------------------------- */

/** div style for instructions **/

.abstract {
 color: var(--color-primary-dark);
 background-color: var(--color-primary-lighter);
 border: 1px solid var(--color-primary-light);
 border-left: 6px solid var(--color-primary-dark);
 border-radius: 0px 4px 4px 0px;
 padding: 10px 10px 0px 10px;
 margin: 10px 0px 10px 0px;
 position: relative;
}

/* TABLES ------------------------------------------------------------------- */

/* table even shading colour */
.even {
    background-color: var(--color-code-bg);
}

/* IMAGES ------------------------------------------------------------------- */

/* image styling */
img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.fancyimage {
  -webkit-box-shadow: 1px 1px 6px var(--color-shadow);
  -moz-box-shadow: 1px 1px 6px var(--color-shadow);
  box-shadow: 1px 1px 6px var(--color-shadow);
  border-radius: 3px;
}

.trlogo {
  position:absolute;
  height:70px;
  /*top:2.5em; with code folding*/
  top:1em;
  right:0;
  padding-right:40px;
  margin-top:7px;
}

/* Buttons and Links -------------------------------------------------------- */

/* link colour */
a, table a{
  color: var(--color-primary);
  text-decoration: none;
}

a:hover, table a:hover {
  color: var(--color-primary);
  opacity: 0.7;
  text-decoration: underline;
}

/* panel */
.panel-default>.panel-heading, .panel-primary>.panel-heading {
  background-color: var(--color-primary);
  color: white;
}

/* hover effect footer icons */
.footericon:hover {
  opacity: 10;
}

/* right align text */
.text-right {
  text-align: right;
}

/* left align text */
.text-left {
  text-align: left;
}

/* center align text */
.text-center {
  text-align: center;
}

button.btn {
 height: 35px;
 width: 35px;
}

/* accordion buttons by themselves or inside boxy-primary by default take primary colour */
button.btn-collapse {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: white;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

button.btn-collapse:hover, button.btn-collapse:active, button.btn-collapse:focus {
    background-color: white;
    color: var(--color-primary);
    border-color: white;
    box-shadow: 0px 3px 40px -9px var(--color-primary);
    -webkit-box-shadow: 0px 3px 40px -9px var(--color-primary);
    -moz-box-shadow: 0px 3px 40px -9px var(--color-primary);
}

button.btn-collapse.collapsed:before
{
    content: '\f078';
    display: block;
    width: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 80%;
}

button.btn-collapse:before
{
    content: '\f077';
    display: block;
    width: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 80%;
}

/* accordion buttons inside default boxy by default takes primary colour */
.abstract button.btn-collapse {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: white;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.abstract button.btn-collapse:hover, .abstract button.btn-collapse:active, .abstract button.btn-collapse:focus {
    background-color: white;
    color: var(--color-primary);
    border-color: white;
    box-shadow: 0px 3px 40px -9px var(--color-primary);
    -webkit-box-shadow: 0px 3px 40px -9px var(--color-primary);
    -moz-box-shadow: 0px 3px 40px -9px var(--color-primary);
}


/** top title code **/
div.block-title {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--color-border);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 2px 2px 2px 10px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}


/* tocify ---------------------------------------------------------------------- */

.tocify li {
 font-size: 0.9em;
}

.tocify {
  border: none;
  border-radius: 0;
}

/* floating bar highlight */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: var(--color-primary);
  font-weight: 600;
  background-color: var(--color-code-bg);
  border: none;
  border-left: 6px solid var(--color-border);
}

/* COLUMNS ------------------------------------------------------------------- */

.pull-center{
  width: 100%;
}

/* float 50%-50% width */
.pull-right-50 {
  width: 49%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-50 {
  width: 49%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 40% 60% width */
.pull-right-40 {
  width: 39%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-60 {
  width: 59%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-40 {
  width: 39%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-60 {
  width: 59%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* float 30% 70% width */
.pull-right-30 {
  width: 29%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-right-70 {
  width: 69%;
  float: right;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-30 {
  width: 29%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}
.pull-left-70 {
  width: 69%;
  float: left;
  margin-right: 0.5%;
  margin-left: 0.5%;
}

/* blur panel -------------------------------------------------------------------------------- */

.blur-title {
  position: absolute;
  z-index: 1;
  font-weight: bold;
}

.blur-outer .blur-title {
  transition: .3s ease;
  opacity: 0;
}

.blur-outer:hover .blur-title {
 transition: .3s ease;
 opacity: 1;
}

.blur-content {
  transition: .3s ease;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
}

.blur-outer:active .blur-content {
 transition: .3s ease;
 filter: none;
}

.blur-outer:active .blur-title {
 transition: .3s ease;
 opacity: 0;
}

/* blur effect ------------------------------------------------------------------------------- */

.blur-effect {
  transition: .2s ease;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}

.blur-effect:active {
 transition: .2s ease;
 filter: none;
}
